{% extends "base.html" %}

{% block styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/character.css' %}">
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'js/character_detail.js' %}"></script>
{% endblock %}

{% block title %}{{character.name}}{% endblock %}

{% block nav-characters %}active{% endblock %}

{% block content %}
<div class="character-container">
  <h1>
    {{character.prename}} {{character.name}} {{character.postname}}
  </h1>
</div>

<div class="row">
  <div class="col-12">
    <img id="character-portrait" src="{{character.portrait.url}}"/>
  </div>
</div>

<div class="character-container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12" style="height:100px">
          <img src="{% static 'img/strength.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.strength}}</div>
          <div class="ability-score-mod">{{character.strength}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <img src="{% static 'img/dexterity.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.dexterity}}</div>
          <div class="ability-score-mod">{{character.dexterity}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <img src="{% static 'img/constitution.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.constitution}}</div>
          <div class="ability-score-mod">{{character.constitution}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-block d-md-none"></div>
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <img src="{% static 'img/intelligence.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.intelligence}}</div>
          <div class="ability-score-mod">{{character.intelligence}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <img src="{% static 'img/wisdom.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.wisdom}}</div>
          <div class="ability-score-mod">{{character.wisdom}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <img src="{% static 'img/charisma.png' %}" class="ability-score-img">
          <div class="ability-score">{{character.charisma}}</div>
          <div class="ability-score-mod">{{character.charisma}}</div>
        </div>
        <div class="col-lg-9 col-md-8 d-none d-lg-block d-md-block">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: 0%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<a href="{% url 'characters_list' %}" class="btn btn-info">Go back</a>
{% endblock %}
